html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.fs-10 {
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .fs-md {
    font-size: 25px;
  }
}

@media screen and (min-width: 425px) {
  .fs-sm {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .fs-xs {
    font-size: 15px;
  }
}

* {
  box-sizing: border-box;
}

.sidebar-logo-section {
  height: 72px;
}

.sidebar-user-image img {
  border-radius: 50%;
}

.table-custom {
  width: 100%;
  overflow: auto;
}

.capitalize {
  text-transform: capitalize;
}

.image-with-100x100 {
  width: 100px;
  height: 100px
}

#sidebarManage {
  position: fixed !important;
  height: -webkit-fill-available !important;
}

.custom-nav-link {
  padding: 8px 2px !important;
  font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 5px;
  color: #000;
  font-size: 20px;
  font-weight: bolder;
  content: ">";
}

@media screen and (max-width: 425px) {
  .breadcumb-show-hide {
    display: flex !important;
  }
}

.breadcrumb-customStyle {
  margin-bottom: 0px !important;
  padding: 0px !important;
  background: none;
}

.breadcumb-show-hide {
  display: none;
}

.breadcumb-home-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "" !important;
}

@media screen and (min-width: 992px) {
  #sideBarhideBtn {
    display: none
  }
}

.breadcumb-item-response-manage {
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 427px) {
  .mobile-breadcumb-manage {
    display: none
  }
}


@media screen and (max-width: 425px) {
  .breadcumb-item-response-mobile-manage {
    width: 300px;
    background: #ccc;
    justify-content: start;
    height: 35px;
  }



  .breadcumb-item-response-mobile-none {
    display: none;
  }

  .breadcumb-item-response-mobile-show {
    display: flex !important;
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* multiple image preview  */
.multiple-image-priview-section {
  width: 100%;
  padding: 10px;
  display: flex;
}

.multiple-image-priview-item {
  position: relative;
}

.multiple-image-priview-item-remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px 6px;
  background: red;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;

}

.multiple-image-priview-item-count {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgb(33, 44, 207);
  color: #fff;
  border-radius: 10px;
  padding: 0px 6px;
  font-size: 12px;
}

.error-bordar {
  border: 1px solid red !important;
}

.anotherImageAddLavel {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;

  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  max-width: 100%;
}

/* login and registration here */
.loginAndRegistrationForm {
  width: 35rem;
}

.model-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* PROFILE
   */

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #0062cc;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}

.profile-work {
  padding: 14%;
  margin-top: -15%;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-work ul {
  list-style: none;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

/* ranking star design */


.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}


.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}




.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}


.rating-submit:hover{
	
	color: #fff;
}